/*
    Table of contents

    - Global settings
    - Top bar styling
    - Sidebar styling
    - D3 styling
    - Notifications
    - Responsive break point

    Global settings
    ===============
*/
@import url(https://fonts.googleapis.com/css?family=Raleway:500);

* {
    font-family: 'Raleway', sans-serif;
    font-size: $font-size;
}

html,
body {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

#content,
#maps,
.app-container {
    width: 100%;
    height: 100%;
}

.navigations-container {
    display: block;
    position: relative;
    z-index: 2;
}

.view-container {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 65px;
    top: 0;
    z-index: 1;
}

/*
    Top bar styling
    ===============
*/

.top-bar {
    width: 100%;
    padding: 10px 0;
    background: $main-background;
    z-index: 999;
}

.logo-container {
    position: relative;
    float: left;
    height: 40px;

    img {
        height: 100%;
    }
}

.toolbar-container {
    position: relative;
    float: right;
    line-height: 40px;

    .toolbars {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
            margin-left: 10px;
        }
    }
}

button.toolbar {

    display: block;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    position: relative;
    cursor: pointer;
    border: none;
    height: 40px;
    padding: 10px;
    outline: none;

    @include border-radius(5px);
    @include transition(all 0s ease-out);

    img {
        height: 100%;
        display: block;
    }
}

button.toolbar {
    border-left: solid 1px #C02B21;
    border-right: solid 1px #C02B21;
    background: $main-background;

    -webkit-box-shadow: 0px 5px 0px 0px #C02B21;
    box-shadow: 0px 5px 0px 0px #C02B21;
}

button.toolbar:active,
button.toolbar.active {
    top: 3px;
}

button.toolbar:active,
button.toolbar.active {
    -webkit-box-shadow: 0px 2px 0px 0px #C02B21;
    box-shadow: 0px 2px 0px 0px #C02B21;
    background: #cc2d24;
}

/*
    Sidebar styling
    ===============
*/

.sidebar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 450px;
    z-index: 3;
    height: 100%;
    background: #F8F8F8;
    padding-top: 65px;
    padding-bottom: 15px;
}

.sidebar.hide {
    display: none;
}

.sidebar > .sidebarContent {
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    overflow-y: auto;
}

.sidebar > .sidebarContent > .content {
    overflow: hidden;
}

.content {
    padding: 10px 0;
}

.title-section {
    margin-bottom: 20px;
}

.title-section:after {
    content: '';
    display: block;
    width: 100px;
    height: 1px;
    background: #d4d4d4;
    margin-top: 8px;
}

.footer {
    padding: 20px 0 10px;
    font-size: 11px;
    border-top: 1px solid #d4d4d4;
}

.pie-chart.select-box {
    width: 150px;
}

.form-group > label {
    font-weight: normal;
    font-size: 12px;
}

.pie-chart > g path:hover {
    fill: darkslateblue;
}

#pie-chart-notifications {
    text-align: center;
    font-weight: bold;
    height: 20px;
}

/*
    D3 styling
    ==========
*/

.axis path,
.axis line {
    fill: none;
    stroke: #333;
    shape-rendering: crispEdges;
}

.area {
    fill: darkorchid;
}

g.tick text {
    font-size: 12px;
}

/*
    Notifications
    =============
*/

.notifications-container {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 5;

    .notifications {
        position: relative;

        .notification {
            display: block;
            margin: 10px 0;
            color: #FFF;
            background: #7F3F6C;
            padding: 15px;
            opacity: 0;

            @include border-radius(5px);
            @include transition(opacity 0.5s ease);
        }

        .notification.show {
            opacity: 1;
        }

    }
}

/*
    Responsive break point
    ======================
*/

@media (min-width: 320px) and (max-width: 374px) {
    .sidebar {
        width: 100%;
    }
}

@media (min-width: 375px) and (max-width: 425px) {
    .sidebar {
        width: 100%;
    }
}
