doctype html
html.no-js
    head
        title Sitecore assessment

        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width')
        meta(name='viewport', content='initial-scale=1')

        link(rel='shortcut icon', href='favicon.ico')
        link(rel='stylesheet', href='styles/style.css')

    body
        //if lt IE 7
            p.chromeframe
              | You are using an outdated browser.
              a(href='http://browsehappy.com/') Upgrade your browser today
              | or
              a(href='http://www.google.com/chromeframe/?redirect=true') install Google Chrome Frame
              | to better experience this site.
        //if lt IE 9
            script(src='vendors/es5-shim/es5-shim.js')
            script(src='vendors/json3/lib/json3.min.js')

        #content
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCCdrNutsXktIBF7uUUXGHoDZgBV_SHYZ4&v=3.16&sensor=false&libraries=geometry')
        script(src='bundle.js')
